@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

header{
  top: 0;
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
}

h1{
  font-family: "Poppins";
  font-size: 22px;
}

header img{
  width: 90px;
  top: 10px;
  left: 10px;
  position: absolute;
}

.tele{
  display: flex;
  justify-content: flex-end;
}

.anim{
  position: absolute;
  border-radius: 16px;
  top: 60px;
  background-color: #D32F2F;
  right: 20px;
  width: 220px;
  height: 5px;
  transition: all 0.3s ease-in-out;
}

a{
  margin: 5px 10px;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  color: white;
  padding: 20px;
}

.home:hover~.anim{
  right: 444px;
  width: 70px;
}

.tra:hover~.anim{
  right: 270px;
  width: 140px;
}


.don:hover~.anim{
  right: 20px;
  width: 220px;
}
